/*HEADER START*/

@import url("variables.css");

html {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  font-family: var(--font-amaranth-regular);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  background-color: var(--azul-oscuro);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
}

.header h1 {
  margin-left: 2rem;
  font-family: var(--font-amaranth-bold);
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  text-decoration: none;
}

.main-nav {
  margin-right: 2.5rem;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul.menu > li {
  display: inline-block;
  position: relative;
}

.main-nav ul.menu > li > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--blanco);
  background: var(--azul-oscuro);
}

.main-nav ul.menu > li > a:hover {
  background: var(--azul-medio);
}

.main-nav ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--azul-oscuro);
  min-width: 180px;
  z-index: 1000;
}

.main-nav ul.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--blanco);
}

.main-nav ul.menu li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.main-nav ul.dropdown-menu li a:hover {
  background: var(--azul-medio);
}

/* HEADER END */

.banner {
  width: 100%;
  height: fit-content;
}

.banner-img {
  width: 100%;
}

.contacto-contenedor {
  position: relative; /* This is critical for the mascot positioning */
  text-align: center;
  padding: 2rem;
}

.contacto-mascota {
  position: absolute;
  height: 250px;
  left: 70%;
  top: 85%;
}

.contacto-video-titulo {
  height: 85px;
  margin-top: 2rem;
}

.contacto-video video {
  width: 55%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contacto-form {
  height: auto;
  background-image: url("../img/contacto/fondo-4.png");
  text-align: unset;
  padding: 7rem 3rem;
  background-size: contain;
  background-position-x: -10%;
}

/* Container wrapping the form if needed */
#contactForm {
  background-color: #f5b914; /* your yellow (adjust if needed) */
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Each label/input pair */
#contactForm .form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

/* Labels */
#contactForm label {
  font-family: var(--font-amaranth-bold);
  margin-bottom: 0.25rem;
  color: var(--azul-oscuro); /* dark text for contrast */
  text-align: left;
}

/* Inputs */
#contactForm input {
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Submit Button */
#contactForm button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
  background-color: var(--azul-medio);
}

#contactForm button:hover {
  background-color: #0e3553;
}

.contact-button {
  padding: 4rem;
  text-align: center;
}

.contact-button button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--verde);
  color: var(--blanco);
  font-family: var(--font-amaranth-bold);
}

/*FOOTER START */

footer {
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  display: flex;
  align-items: center;
  height: 140px;
}

.section-1 {
  margin-left: 3rem;
  width: 35%;
}

.section-1 h1,
h4 {
  margin: 0;
  font-family: var(--font-amaranth-bold);
}

.footer-main {
  display: flex;
  gap: 9rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.section-2 {
  min-height: 90px;
}

.section-2 a {
  text-decoration: none;
  color: var(--blanco);
}

.section-2 svg {
  width: 20px;
  height: 20px;
  margin: 1rem 5px;
}

.section-2 a:hover {
  color: var(--azul-pastel);
}

.social {
  margin-right: 4rem;
}

.social .footer-links {
  flex-direction: row;
}

/*FOOTER END */

@media (max-width: 1200px) {
  .contacto-video-titulo {
    height: 65px;
  }

  .contact-button {
    padding: 3rem;
  }

  #contactForm input[type="date"] {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .contacto-video-titulo {
    height: 45px;
  }

  .contacto-video video {
    width: 75%;
  }

  .contacto-mascota {
    height: 150px;
    top: 90%;
  }

  .contacto-form {
    background-size: 100% 100%;
  }

  /* FOOTER START */

  .footer-main {
    gap: 3rem;
  }

  /* FOOTER END */
}

@media (max-width: 780px) {
  /* HEADER START */

  .main-nav {
    margin-right: 1rem;
  }

  /* HEADER END */

  .contacto-contenedor {
    padding-top: 1rem;
  }

  /* FOOTER START */

  footer {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    display: flex;
    align-items: center;
    height: 140px;
  }

  .section-1 {
    margin-left: 3rem;
    width: 30%;
  }

  .section-1 h1 {
    font-size: 1.5rem;
  }

  .footer-main {
    display: flex;
    gap: 3rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    text-decoration: none;
    color: white;
  }

  .section-2 {
    min-height: 90px;
  }

  .section-2 a {
    text-decoration: none;
    color: var(--blanco);
  }

  .section-2 svg {
    width: 20px;
    height: 20px;
    margin: 1rem 5px;
  }

  .section-2 a:hover {
    color: var(--azul-pastel);
  }

  .social {
    margin-right: 4rem;
  }

  /* FOOTER END */
}

@media (max-width: 480px) {
  /* HEADER START */

  .header h1 {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .menu a {
    font-size: 0.6rem;
  }

  .main-nav {
    margin-right: 0.3rem;
  }

  .main-nav ul.menu > li > a {
    padding: 10px 10px;
  }

  /* HEADER END */

  .contacto-video-titulo {
    height: 30px;
  }

  .contacto-contenedor {
    padding: 0.5rem;
  }

  .contacto-mascota {
    height: 100px;
  }

  .contacto-form {
    padding: 7rem 1.2rem;
  }

  .contact-button button {
    font-size: 1rem;
  }

  .contacto-form {
    background-size: cover;
    background-position-x: 5%;
  }

  #contactForm button {
    font-size: 1rem;
  }

  /* FOOTER START */

  footer {
    height: 80px;
  }

  .section-1 {
    margin-left: 1rem;
  }

  .section-1 h1 {
    font-size: 0.9rem;
  }

  .section-1 p {
    font-size: 0.8rem;
  }

  .section-2 h4 {
    font-size: 0.7rem;
  }

  .footer-main {
    margin-left: 2.5rem;
    gap: 1.5rem;
    padding-top: 1rem;
  }

  .section-2 {
    min-height: 70px;
  }

  .section-2 a {
    font-size: 0.5rem;
  }

  .section-2 svg {
    margin: 0.2rem 0.2rem;
    width: 10px;
    height: 10px;
  }

  .social {
    margin-right: 0rem;
  }

  /* FOOTER END */
}
