/*HEADER START*/

@import url("variables.css");

html {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  font-family: var(--font-amaranth-regular);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  background-color: var(--azul-oscuro);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
}

.header h1 {
  margin-left: 2rem;
  font-family: var(--font-amaranth-bold);
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  text-decoration: none;
}

.main-nav {
  margin-right: 2.5rem;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul.menu > li {
  display: inline-block;
  position: relative;
}

.main-nav ul.menu > li > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--blanco);
  background: var(--azul-oscuro);
}

.main-nav ul.menu > li > a:hover {
  background: var(--azul-medio);
}

.main-nav ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--azul-oscuro);
  min-width: 180px;
  z-index: 1000;
}

.main-nav ul.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--blanco);
}

.main-nav ul.menu li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.main-nav ul.dropdown-menu li a:hover {
  background: var(--azul-medio);
}

/* HEADER END */

.banner-section {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("../img/home/banner-inicio.png") no-repeat center/cover;
}

.banner-button {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 70%;
  transform: translate(-50%, 0%); /* Center the button */
  padding: 1.5rem 6rem;
  background: var(--azul-oscuro);
  color: var(--blanco);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.2rem;
}

.banner-button:hover {
  background-color: var(--azul-medio);
}

.slogan {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  background-color: var(--amarillo);
  margin: 0;
  color: var(--blanco);
  font-family: var(--font-amaranth-bold);
}

.valores {
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.valores-title {
  height: 160px;
  margin-bottom: 2rem;
}

.valores-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.valores-item {
  width: 300px;
}

.valor-dif {
  width: 265px;
}

.banner-invite {
  position: relative;
  background: #dcf3ff url("../img/home/Fondo1.png") no-repeat center/cover;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Adjust height as needed */
}

/* Card content centered */
.banner-invite .invite-content {
  background-color: var(--azul-pastel);
  padding: 1.5rem 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.75rem;
  width: 600px;
  height: 80%;
  margin-left: 8rem;
}

/* Mascot floats left, independent from card size */
.banner-invite .mascot {
  position: absolute;
  left: calc(50% - 300px); /* Adjust how far left it sits */
  bottom: 0;
  width: 300px; /* Resize safely */
  height: auto;
}

.invite-content-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  flex-direction: column;
}

/* Text styling */
.invite-content-info p {
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: var(--azul-oscuro);
  font-family: var(--font-amaranth-bold);
}

/* Button styling */
.banner-invite .invite-content .invite-content-info button {
  padding: 0.5rem 2rem;
  background: white;
  border: none;
  color: var(--azul-medio);
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 1rem;
}

.banner-invite .invite-content .invite-content-info button:hover {
  background-color: var(--azul-medio);
  color: var(--blanco);
}

.avisos {
  text-align: center;
  height: 600px;
}

.avisos-titulo {
  height: 60px;
  margin: 1.5rem 0;
}

#carouselExample {
  width: 300px;
  margin: 0rem auto;
}

.carousel-inner {
  height: 400px;
}

.carousel-item {
  text-align: center;
}

.carousel-img {
  max-height: 100%;
  max-width: 95%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.carousel-controls-below {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-slider {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--azul-pastel);
  color: var(--azul-oscuro);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-slider:hover {
  background-color: var(--azul-oscuro);
  color: var(--blanco);
}

/*FOOTER START */

footer {
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  display: flex;
  align-items: center;
  height: 140px;
}

.section-1 {
  margin-left: 3rem;
  width: 35%;
}

.section-1 h1,
h4 {
  margin: 0;
  font-family: var(--font-amaranth-bold);
}

.footer-main {
  display: flex;
  gap: 9rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.section-2 {
  min-height: 90px;
}

.section-2 a {
  text-decoration: none;
  color: var(--blanco);
}

.section-2 svg {
  width: 20px;
  height: 20px;
  margin: 1rem 5px;
}

.section-2 a:hover {
  color: var(--azul-pastel);
}

.social {
  margin-right: 4rem;
}

.social .footer-links {
  flex-direction: row;
}

/*FOOTER END */

@media (max-width: 1200px) {
  .banner-section {
    height: 400px;
  }

  .banner-button {
    padding: 1.5rem 5rem;
    transform: translate(-50%, 35%);
    width: 400px;
  }

  .valores-item {
    width: 250px;
  }

  .valor-dif {
    width: 215px;
  }
}

@media (max-width: 860px) {
  .banner-section {
    height: 300px;
  }

  .banner-button {
    width: 350px;
    padding: 0.8rem 2rem;
    transform: translate(-50%, 30%);
  }

  .slogan {
    font-size: 1.5rem;
  }

  .valores-title {
    height: 120px;
  }

  .valores-item {
    width: 195px;
  }

  .valor-dif {
    width: 175px;
  }

  .avisos-titulo {
    height: 40px;
  }

  /* FOOTER START */

  .footer-main {
    gap: 3rem;
  }

  /* FOOTER END */
}

@media (max-width: 780px) {
  /* HEADER START */

  .main-nav {
    margin-right: 1rem;
  }

  /* HEADER END */

  .banner-section {
    height: 300px;
  }

  .banner-button {
    width: 350px;
    padding: rem 5rem;
    transform: translate(-50%, 30%);
  }

  .slogan {
    font-size: 1.5rem;
  }

  .valores-item {
    width: 150px;
  }

  .valor-dif {
    width: 130px;
  }

  .valores-title {
    height: 100px;
    margin: 1rem 0;
  }

  .avisos-titulo {
    height: 50px;
    margin: 1.5rem 0;
  }

  /* FOOTER START */

  footer {
    display: flex;
    align-items: center;
    height: 140px;
  }

  .section-1 {
    margin-left: 3rem;
    width: 30%;
  }

  .section-1 h1 {
    font-size: 1.5rem;
  }

  .footer-main {
    display: flex;
    gap: 3rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    text-decoration: none;
    color: white;
  }

  .section-2 {
    min-height: 90px;
  }

  .section-2 a {
    text-decoration: none;
    color: var(--blanco);
  }

  .section-2 svg {
    width: 20px;
    height: 20px;
    margin: 1rem 5px;
  }

  .section-2 a:hover {
    color: var(--azul-pastel);
  }

  .social {
    margin-right: 4rem;
  }

  /* FOOTER END */
}

@media (max-width: 480px) {
  /* HEADER START */

  .header h1 {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .menu a {
    font-size: 0.6rem;
  }

  .main-nav {
    margin-right: 0.3rem;
  }

  .main-nav ul.menu > li > a {
    padding: 10px 10px;
  }

  /* HEADER END */

  .valores-title {
    height: 60px;
    margin: 0rem 0 1rem 0;
  }
  .valores-item {
    width: 80px;
  }

  .valor-dif {
    width: 70px;
  }

  .banner-section {
    height: 150px;
  }

  .banner-button {
    padding: 0.25rem;
    transform: translate(-50%, 40%);
    width: 150px;
    font-size: 0.7rem;
  }

  .slogan {
    font-size: 0.9rem;
    padding: 1rem;
  }

  .banner-invite {
    margin-top: 0.5rem;
    height: 200px;
  }

  .banner-invite .mascot {
    position: absolute;
    left: calc(50% - 180px);
    bottom: 20px;
    width: 130px;
    height: auto;
  }

  .banner-invite .invite-content {
    margin-left: 3rem;
  }

  .banner-invite .invite-content {
    padding: 1rem 2rem;
  }

  .invite-content-info {
    width: unset;
    margin: 5px 0 0 30px;
  }

  .invite-content-info p {
    font-size: 0.9rem;
    width: 110%;
  }

  .banner-invite .invite-content .invite-content-info button {
    margin: 5px;
    padding: 0.3rem 2rem;
  }

  .avisos-titulo {
    height: 30px;
  }

  /* FOOTER START */

  footer {
    height: 80px;
  }

  .section-1 {
    margin-left: 1rem;
  }

  .section-1 h1 {
    font-size: 0.9rem;
  }

  .section-1 p {
    font-size: 0.8rem;
  }

  .section-2 h4 {
    font-size: 0.7rem;
  }

  .footer-main {
    margin-left: 2.5rem;
    gap: 1.5rem;
    padding-top: 1rem;
  }

  .section-2 {
    min-height: 70px;
  }

  .section-2 a {
    font-size: 0.5rem;
  }

  .section-2 svg {
    margin: 0.2rem 0.2rem;
    width: 10px;
    height: 10px;
  }

  .social {
    margin-right: 0rem;
  }

  /* FOOTER END */
}
